@mixin type-gradient() {
	@each $type1, $map1 in $dual-types-map {
		@each $type2, $map2 in $dual-types-map {
			$gradient:	map-get($map1, $type2);

			&[type1=#{$type1}][type2=#{$type2}] {
				background: $gradient;

				@if ($type1 == 'bug' or $type1 == 'electric' or $type1 == 'fairy' or $type1 == 'fire' or $type1 == 'flying' or $type1 == 'ice' or $type1 == 'psychic' or $type1 == 'rock' or $type2 == 'bug' or $type2 == 'electric' or $type2 == 'fairy' or $type2 == 'fire' or $type2 == 'flying' or $type2 == 'ice' or $type2 == 'psychic' or $type2 == 'rock') {
					color: $text;
				} @else {
					color: $white;
				}
			}
		}
	}
}