@use "sass:map";

// $baseFontSize:	16px;
$transition:	all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

$text:	#263238;

$black: #000000;
$white: #FFFFFF;

$female:	#e8a19f;
$male:		#3d387d;

$bug:					#90BF2B;
$bugAlt:			#E4F14B;
$dark:				#5B5365;
$darkAlt:			#717684;
$dragon:			#096CC3;
$dragonAlt:		#089AD9;
$electric:		#F3D139;
$electricAlt:	#F9E580;
$fairy:				#ED92E8;
$fairyAlt:		#F5A8E6;
$fighting:		#CE406B;
$fightingAlt:	#D95959;
$fire:				#FE9D52;
$fireAlt:			#FFC247;
$flying:			#92AADD;
$flyingAlt:		#D0DEF6;
$ghost:				#5267AD;
$ghostAlt:		#7B75D7;
$grass:				#67BB5D;
$grassAlt:		#B1E86D;
$ground:			#DB7948;
$groundAlt:		#CE9E6F;
$ice:					#73CEBF;
$iceAlt:			#9DDDE1;
$normal:			#909AA2;
$normalAlt:		#AAA8A1;
$poison:			#AB69C9;
$poisonAlt:		#DE5ECD;
$psychic:     #F97178;
$psychicAlt:	#FFA69E;
$rock:				#C8B689;
$rockAlt:			#DBCF95;
$steel:				#598FA1;
$steelAlt:		#60AFAC;
$water:				#4C8FD6;
$waterAlt:		#7DCADE;

$types-map: (
	fighting: (
		def:	$fighting,
		alt:	$fightingAlt
	),
	psychic: (
		def:	$psychic,
		alt:	$psychicAlt
	),
	fire: (
		def:	$fire,
		alt:	$fireAlt
	),
	ground: (
		def:	$ground,
		alt:	$groundAlt
	),
	electric: (
		def:	$electric,
		alt:	$electricAlt
	),
	bug: (
		def:	$bug,
		alt:	$bugAlt
	),
	grass: (
		def:	$grass,
		alt:	$grassAlt
	),
	ice: (
		def:	$ice,
		alt:	$iceAlt
	),
	steel: (
		def:	$steel,
		alt:	$steelAlt
	),
	water: (
		def:	$water,
		alt:	$waterAlt
	),
	dragon: (
		def:	$dragon,
		alt:	$dragonAlt
	),
	ghost: (
		def:	$ghost,
		alt:	$ghostAlt
	),
	flying: (
		def:	$flying,
		alt:	$flyingAlt
	),
	dark: (
		def:	$dark,
		alt:	$darkAlt
	),
	poison: (
		def:	$poison,
		alt:	$poisonAlt
	),
	fairy: (
		def:	$fairy,
		alt:	$fairyAlt
	),
	rock: (
		def:	$rock,
		alt:	$rockAlt
	),
	normal: (
		def:	$normal,
		alt:	$normalAlt
	)
);

$dual-types-map: (
	bug: (
		bug:			linear-gradient(45deg, $bug 0%, #B9D83B 50%, $bugAlt 100%),
		dark:			linear-gradient(45deg, $bug 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $bug 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $bug 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $bug 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $bug 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $bug 0%, $fire 100%),
		flying:		linear-gradient(45deg, $bug 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $bug 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $bug 0%, $grass 100%),
		ground:		linear-gradient(45deg, $bug 0%, $ground 100%),
		ice:			linear-gradient(45deg, $bug 0%, $ice 100%),
		normal:		linear-gradient(45deg, $bug 0%, $normal 100%),
		poison:		linear-gradient(45deg, $bug 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $bug 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $bug 0%, $rock 100%),
		steel:		linear-gradient(45deg, $bug 0%, $steel 100%),
		water:		linear-gradient(45deg, $bug 0%, $water 100%),
	),
	dark: (
		bug:			linear-gradient(45deg, $dark 0%, $bug 100%),
		dark:			linear-gradient(45deg, $dark 0%, #636374 50%, $darkAlt 100%),
		dragon:		linear-gradient(45deg, $dark 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $dark 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $dark 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $dark 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $dark 0%, $fire 100%),
		flying:		linear-gradient(45deg, $dark 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $dark 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $dark 0%, $grass 100%),
		ground:		linear-gradient(45deg, $dark 0%, $ground 100%),
		ice:			linear-gradient(45deg, $dark 0%, $ice 100%),
		normal:		linear-gradient(45deg, $dark 0%, $normal 100%),
		poison:		linear-gradient(45deg, $dark 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $dark 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $dark 0%, $rock 100%),
		steel:		linear-gradient(45deg, $dark 0%, $steel 100%),
		water:		linear-gradient(45deg, $dark 0%, $water 100%),
	),
	dragon: (
		bug:			linear-gradient(45deg, $dragon 0%, $bug 100%),
		dark:			linear-gradient(45deg, $dragon 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $dragon 0%, #0084D1 50%, $dragonAlt 100%),
		electric:	linear-gradient(45deg, $dragon 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $dragon 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $dragon 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $dragon 0%, $fire 100%),
		flying:		linear-gradient(45deg, $dragon 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $dragon 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $dragon 0%, $grass 100%),
		ground:		linear-gradient(45deg, $dragon 0%, $ground 100%),
		ice:			linear-gradient(45deg, $dragon 0%, $ice 100%),
		normal:		linear-gradient(45deg, $dragon 0%, $normal 100%),
		poison:		linear-gradient(45deg, $dragon 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $dragon 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $dragon 0%, $rock 100%),
		steel:		linear-gradient(45deg, $dragon 0%, $steel 100%),
		water:		linear-gradient(45deg, $dragon 0%, $water 100%),
	),
	electric: (
		bug:			linear-gradient(45deg, $electric 0%, $bug 100%),
		dark:			linear-gradient(45deg, $electric 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $electric 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $electric 0%, #F6DA60 50%, $electricAlt 100%),
		fairy:		linear-gradient(45deg, $electric 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $electric 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $electric 0%, $fire 100%),
		flying:		linear-gradient(45deg, $electric 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $electric 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $electric 0%, $grass 100%),
		ground:		linear-gradient(45deg, $electric 0%, $ground 100%),
		ice:			linear-gradient(45deg, $electric 0%, $ice 100%),
		normal:		linear-gradient(45deg, $electric 0%, $normal 100%),
		poison:		linear-gradient(45deg, $electric 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $electric 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $electric 0%, $rock 100%),
		steel:		linear-gradient(45deg, $electric 0%, $steel 100%),
		water:		linear-gradient(45deg, $electric 0%, $water 100%),
	),
	fairy: (
		bug:			linear-gradient(45deg, $fairy 0%, $bug 100%),
		dark:			linear-gradient(45deg, $fairy 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $fairy 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $fairy 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $fairy 0%, #F29CE6 50%, $fairyAlt 100%),
		fighting:	linear-gradient(45deg, $fairy 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $fairy 0%, $fire 100%),
		flying:		linear-gradient(45deg, $fairy 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $fairy 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $fairy 0%, $grass 100%),
		ground:		linear-gradient(45deg, $fairy 0%, $ground 100%),
		ice:			linear-gradient(45deg, $fairy 0%, $ice 100%),
		normal:		linear-gradient(45deg, $fairy 0%, $normal 100%),
		poison:		linear-gradient(45deg, $fairy 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $fairy 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $fairy 0%, $rock 100%),
		steel:		linear-gradient(45deg, $fairy 0%, $steel 100%),
		water:		linear-gradient(45deg, $fairy 0%, $water 100%),
	),
	fighting: (
		bug:			linear-gradient(45deg, $fighting 0%, $bug 100%),
		dark:			linear-gradient(45deg, $fighting 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $fighting 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $fighting 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $fighting 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $fighting 0%, #D54D62 50%, $fightingAlt 100%),
		fire:			linear-gradient(45deg, $fighting 0%, $fire 100%),
		flying:		linear-gradient(45deg, $fighting 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $fighting 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $fighting 0%, $grass 100%),
		ground:		linear-gradient(45deg, $fighting 0%, $ground 100%),
		ice:			linear-gradient(45deg, $fighting 0%, $ice 100%),
		normal:		linear-gradient(45deg, $fighting 0%, $normal 100%),
		poison:		linear-gradient(45deg, $fighting 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $fighting 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $fighting 0%, $rock 100%),
		steel:		linear-gradient(45deg, $fighting 0%, $steel 100%),
		water:		linear-gradient(45deg, $fighting 0%, $water 100%),
	),
	fire: (
		bug:			linear-gradient(45deg, $fire 0%, $bug 100%),
		dark:			linear-gradient(45deg, $fire 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $fire 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $fire 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $fire 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $fire 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $fire 0%, #FFAF4C 50%, $fireAlt 100%),
		flying:		linear-gradient(45deg, $fire 0%, #E9B0C4 50%, $flying 100%),
		ghost:		linear-gradient(45deg, $fire 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $fire 0%, $grass 100%),
		ground:		linear-gradient(45deg, $fire 0%, $ground 100%),
		ice:			linear-gradient(45deg, $fire 0%, $ice 100%),
		normal:		linear-gradient(45deg, $fire 0%, $normal 100%),
		poison:		linear-gradient(45deg, $fire 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $fire 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $fire 0%, $rock 100%),
		steel:		linear-gradient(45deg, $fire 0%, $steel 100%),
		water:		linear-gradient(45deg, $fire 0%, $water 100%),
	),
	flying: (
		bug:			linear-gradient(45deg, $flying 0%, $bug 100%),
		dark:			linear-gradient(45deg, $flying 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $flying 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $flying 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $flying 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $flying 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $flying 0%, #E9B0C4 50%, $fire 100%),
		flying:		linear-gradient(45deg, $flying 0%, #AEC3EA 50%, $flyingAlt 100%),
		ghost:		linear-gradient(45deg, $flying 0%, #7289C5 50%, $ghost 100%),
		grass:		linear-gradient(45deg, $flying 0%, $grass 100%),
		ground:		linear-gradient(45deg, $flying 0%, $ground 100%),
		ice:			linear-gradient(45deg, $flying 0%, $ice 100%),
		normal:		linear-gradient(45deg, $flying 0%, $normal 100%),
		poison:		linear-gradient(45deg, $flying 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $flying 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $flying 0%, $rock 100%),
		steel:		linear-gradient(45deg, $flying 0%, $steel 100%),
		water:		linear-gradient(45deg, $flying 0%, $water 100%),
	),
	ghost: (
		bug:			linear-gradient(45deg, $ghost 0%, $bug 100%),
		dark:			linear-gradient(45deg, $ghost 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $ghost 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $ghost 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $ghost 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $ghost 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $ghost 0%, $fire 100%),
		flying:		linear-gradient(45deg, $ghost 0%, #7289C5 50%, $flying 100%),
		ghost:		linear-gradient(45deg, $ghost 0%, #656EC3 50%, $ghostAlt 100%),
		grass:		linear-gradient(45deg, $ghost 0%, $grass 100%),
		ground:		linear-gradient(45deg, $ghost 0%, $ground 100%),
		ice:			linear-gradient(45deg, $ghost 0%, $ice 100%),
		normal:		linear-gradient(45deg, $ghost 0%, $normal 100%),
		poison:		linear-gradient(45deg, $ghost 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $ghost 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $ghost 0%, $rock 100%),
		steel:		linear-gradient(45deg, $ghost 0%, $steel 100%),
		water:		linear-gradient(45deg, $ghost 0%, $water 100%),
	),
	grass: (
		bug:			linear-gradient(45deg, $grass 0%, $bug 100%),
		dark:			linear-gradient(45deg, $grass 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $grass 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $grass 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $grass 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $grass 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $grass 0%, $fire 100%),
		flying:		linear-gradient(45deg, $grass 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $grass 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $grass 0%, #8BD265 50%, $grassAlt 100%),
		ground:		linear-gradient(45deg, $grass 0%, $ground 100%),
		ice:			linear-gradient(45deg, $grass 0%, $ice 100%),
		normal:		linear-gradient(45deg, $grass 0%, $normal 100%),
		poison:		linear-gradient(45deg, $grass 0%, #62C099 33.33%, #6996CB 66.67%, $poison 100%),
		psychic:	linear-gradient(45deg, $grass 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $grass 0%, $rock 100%),
		steel:		linear-gradient(45deg, $grass 0%, $steel 100%),
		water:		linear-gradient(45deg, $grass 0%, $water 100%),
	),
	ground: (
		bug:			linear-gradient(45deg, $ground 0%, $bug 100%),
		dark:			linear-gradient(45deg, $ground 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $ground 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $ground 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $ground 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $ground 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $ground 0%, $fire 100%),
		flying:		linear-gradient(45deg, $ground 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $ground 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $ground 0%, $grass 100%),
		ground:		linear-gradient(45deg, $ground 0%, #D48C59 50%, $groundAlt 100%),
		ice:			linear-gradient(45deg, $ground 0%, $ice 100%),
		normal:		linear-gradient(45deg, $ground 0%, $normal 100%),
		poison:		linear-gradient(45deg, $ground 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $ground 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $ground 0%, $rock 100%),
		steel:		linear-gradient(45deg, $ground 0%, $steel 100%),
		water:		linear-gradient(45deg, $ground 0%, $water 100%),
	),
	ice: (
		bug:			linear-gradient(45deg, $ice 0%, $bug 100%),
		dark:			linear-gradient(45deg, $ice 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $ice 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $ice 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $ice 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $ice 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $ice 0%, $fire 100%),
		flying:		linear-gradient(45deg, $ice 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $ice 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $ice 0%, $grass 100%),
		ground:		linear-gradient(45deg, $ice 0%, $ground 100%),
		ice:			linear-gradient(45deg, $ice 0%, #85D5D1 50%, $iceAlt 100%),
		normal:		linear-gradient(45deg, $ice 0%, $normal 100%),
		poison:		linear-gradient(45deg, $ice 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $ice 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $ice 0%, $rock 100%),
		steel:		linear-gradient(45deg, $ice 0%, $steel 100%),
		water:		linear-gradient(45deg, $ice 0%, $water 100%),
	),
	normal: (
		bug:			linear-gradient(45deg, $normal 0%, $bug 100%),
		dark:			linear-gradient(45deg, $normal 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $normal 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $normal 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $normal 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $normal 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $normal 0%, $fire 100%),
		flying:		linear-gradient(45deg, $normal 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $normal 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $normal 0%, $grass 100%),
		ground:		linear-gradient(45deg, $normal 0%, $ground 100%),
		ice:			linear-gradient(45deg, $normal 0%, $ice 100%),
		normal:		linear-gradient(45deg, $normal 0%, #96A29E 50%, $normalAlt 100%),
		poison:		linear-gradient(45deg, $normal 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $normal 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $normal 0%, $rock 100%),
		steel:		linear-gradient(45deg, $normal 0%, $steel 100%),
		water:		linear-gradient(45deg, $normal 0%, $water 100%),
	),
	poison: (
		bug:			linear-gradient(45deg, $poison 0%, $bug 100%),
		dark:			linear-gradient(45deg, $poison 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $poison 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $poison 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $poison 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $poison 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $poison 0%, $fire 100%),
		flying:		linear-gradient(45deg, $poison 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $poison 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $poison 0%, #6996CB 33.33%, #62C099 66.67%, $grass 100%),
		ground:		linear-gradient(45deg, $poison 0%, $ground 100%),
		ice:			linear-gradient(45deg, $poison 0%, $ice 100%),
		normal:		linear-gradient(45deg, $poison 0%, $normal 100%),
		poison:		linear-gradient(45deg, $poison 0%, #C465CD 50%, $poisonAlt 100%),
		psychic:	linear-gradient(45deg, $poison 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $poison 0%, $rock 100%),
		steel:		linear-gradient(45deg, $poison 0%, $steel 100%),
		water:		linear-gradient(45deg, $poison 0%, $water 100%),
	),
	psychic: (
		bug:			linear-gradient(45deg, $psychic 0%, $bug 100%),
		dark:			linear-gradient(45deg, $psychic 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $psychic 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $psychic 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $psychic 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $psychic 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $psychic 0%, $fire 100%),
		flying:		linear-gradient(45deg, $psychic 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $psychic 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $psychic 0%, $grass 100%),
		ground:		linear-gradient(45deg, $psychic 0%, $ground 100%),
		ice:			linear-gradient(45deg, $psychic 0%, $ice 100%),
		normal:		linear-gradient(45deg, $psychic 0%, $normal 100%),
		poison:		linear-gradient(45deg, $psychic 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $psychic 0%, #FD8987 50%, $psychicAlt 100%),
		rock:			linear-gradient(45deg, $psychic 0%, $rock 100%),
		steel:		linear-gradient(45deg, $psychic 0%, $steel 100%),
		water:		linear-gradient(45deg, $psychic 0%, $water 100%),
	),
	rock: (
		bug:			linear-gradient(45deg, $rock 0%, $bug 100%),
		dark:			linear-gradient(45deg, $rock 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $rock 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $rock 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $rock 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $rock 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $rock 0%, $fire 100%),
		flying:		linear-gradient(45deg, $rock 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $rock 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $rock 0%, $grass 100%),
		ground:		linear-gradient(45deg, $rock 0%, $ground 100%),
		ice:			linear-gradient(45deg, $rock 0%, $ice 100%),
		normal:		linear-gradient(45deg, $rock 0%, $normal 100%),
		poison:		linear-gradient(45deg, $rock 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $rock 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $rock 0%, #D2C28E 50%, $rockAlt 100%),
		steel:		linear-gradient(45deg, $rock 0%, $steel 100%),
		water:		linear-gradient(45deg, $rock 0%, $water 100%),
	),
	steel: (
		bug:			linear-gradient(45deg, $steel 0%, $bug 100%),
		dark:			linear-gradient(45deg, $steel 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $steel 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $steel 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $steel 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $steel 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $steel 0%, $fire 100%),
		flying:		linear-gradient(45deg, $steel 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $steel 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $steel 0%, $grass 100%),
		ground:		linear-gradient(45deg, $steel 0%, $ground 100%),
		ice:			linear-gradient(45deg, $steel 0%, $ice 100%),
		normal:		linear-gradient(45deg, $steel 0%, $normal 100%),
		poison:		linear-gradient(45deg, $steel 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $steel 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $steel 0%, $rock 100%),
		steel:		linear-gradient(45deg, $steel 0%, #5A9FAA 50%, $steelAlt 100%),
		water:		linear-gradient(45deg, $steel 0%, $water 100%),
	),
	water: (
		bug:			linear-gradient(45deg, $water 0%, $bug 100%),
		dark:			linear-gradient(45deg, $water 0%, $dark 100%),
		dragon:		linear-gradient(45deg, $water 0%, $dragon 100%),
		electric:	linear-gradient(45deg, $water 0%, $electric 100%),
		fairy:		linear-gradient(45deg, $water 0%, $fairy 100%),
		fighting:	linear-gradient(45deg, $water 0%, $fighting 100%),
		fire:			linear-gradient(45deg, $water 0%, $fire 100%),
		flying:		linear-gradient(45deg, $water 0%, $flying 100%),
		ghost:		linear-gradient(45deg, $water 0%, $ghost 100%),
		grass:		linear-gradient(45deg, $water 0%, $grass 100%),
		ground:		linear-gradient(45deg, $water 0%, $ground 100%),
		ice:			linear-gradient(45deg, $water 0%, $ice 100%),
		normal:		linear-gradient(45deg, $water 0%, $normal 100%),
		poison:		linear-gradient(45deg, $water 0%, $poison 100%),
		psychic:	linear-gradient(45deg, $water 0%, $psychic 100%),
		rock:			linear-gradient(45deg, $water 0%, $rock 100%),
		steel:		linear-gradient(45deg, $water 0%, $steel 100%),
		water:		linear-gradient(45deg, $water 0%, #55B0DD 50%, $waterAlt 100%),
	),
);

@each $type1, $map1 in $types-map {
	@each $type2, $map2 in $types-map {
		$color1:		map-get($map1, def);
		$color2:		map-get($map2, def);
		$colorAlt:	map-get($map1, alt);

		[type1=#{$type1}][type2=#{$type2}] {
			@if ($type1 == $type2) {
				--type-one-color: #{$color1};
				--type-two-color: #{$colorAlt};
			} @else {
				--type-one-color: #{$color1};
				--type-two-color: #{$color2};
			}
		}
	}
}





// $red:			#C03028;
// $blue:		#5d81d6;
// $yellow:	#d6b11f;
// $gold:		#ad9551;
// $silver:	#9797ab;
// $crystal:	#87bfbf;
// $green:		#65a843;
// $emerald:	#909e1b;
// $diamond:	#8471bd;
// $pearl:		#de4f7a;
// $black:		#574438;
// $sun:			#db8624;
// $moon:		#7038f8;
// $eevee:		#ac8639;

// $games-map: (
// 	"red":							$red,
// 	"blue":							$blue,
// 	"yellow":						$yellow,
// 	"gold":							$gold,
// 	"silver":						$silver,
// 	"crystal":					$crystal,
// 	"ruby":							$red,
// 	"sapphire":					$blue,
// 	"firered":					$red,
// 	"leafgreen":				$green,
// 	"emerald":					$emerald,
// 	"diamond":					$diamond,
// 	"pearl":						$pearl,
// 	"platinum":					$silver,
// 	"heartgold":				$gold,
// 	"soulsilver":				$silver,
// 	"black":						$black,
// 	"white":						$silver,
// 	"black2":						$black,
// 	"white2":						$silver,
// 	"x":								$blue,
// 	"y":								$red,
// 	"omegaruby":				$red,
// 	"alphasapphire":		$blue,
// 	"sun":							$sun,
// 	"moon":							$moon,
// 	"ultrasun":					$sun,
// 	"ultramoon":				$moon,
// 	"letsgopikachu":		$yellow,
// 	"letsgoeevee":			$eevee,
// 	"sword":						$blue,
// 	"shield":						$red,
// 	"brilliantdiamond":	$diamond,
// 	"shiningpearl":			$pearl,
// 	"legendsarceus":		$green,
// 	"scarlet":					$red,
// 	"violet":						$moon
// );

// @each $game, $color in $games-map {
// 	.game__#{$game} {
// 		color: #{$color};
// 	}
// }