@import "./functions";
@import "./variables";

@import "./components/components";
@import "./routes/routes";

:root {
	--female: #{$female};
	--male: #{$male};
}

img { max-width: 100%; }

.position-absolute	{ position: absolute; }
.position-fixed			{ position: fixed; }
.position-relative	{ position: relative; }
.position-static		{ position: static; }
.position-sticky		{ position: sticky; }

.grid { display: grid !important; }

.js-center { justify-self: center; }

#PokemonMoves .icon { height: 1.25em; }

#PokemonSprites .sprite { height: 60px; }