@import "./functions";
@import "./reset";
@import "./variables";

@import "./components/components";
@import "./routes/routes";

img { max-width: 100%; }

.position-absolute	{ position: absolute; }
.position-fixed			{ position: fixed; }
.position-relative	{ position: relative; }
.position-static		{ position: static; }
.position-sticky		{ position: sticky; }

.grid { display: grid; }

.js-center { justify-self: center; }