#PokemonHeader {
	background: linear-gradient(45deg, var(--type-one-color), var(--type-two-color));
	height: 35vh;
	display: grid;
	position: relative;
	align-items: center;
	justify-items: center;
	overflow-x: clip;
	padding-top: calcREM(56px);
	margin-bottom: calcREM(40px);

	.japanese {
		position: absolute;
		font-size: 18vw;
		font-weight: bolder;
		white-space: nowrap;
		mix-blend-mode: overlay;
		opacity: 0.3;
	}

	.poke-img {
		position: relative;
		z-index: 1;
		bottom: 0;
		width: 100%;
		max-width: 350px;
		max-height: 35vh;
		object-fit: contain;
		object-position: center;
	}

	.waves {
		position: absolute;
		height: 100%;
		width: 100%;

		svg {
			height: auto;
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}

	.prev-poke-img, .next-poke-img {
		position: absolute;
		z-index: 1;
		bottom: -15vw;
		width: 30vw;
		filter: brightness(0) opacity(0.2);
		transition: $transition;

		&:hover { filter: none; }
	}

	.prev-poke-img {
		left: -12vw;
		&:hover { left: -8vw; }
	}

	.next-poke-img {
		right: -12vw;
		&:hover { right: -8vw; }
	}
}

#PokemonTitle {
	text-align: center;
	margin-bottom: calcREM(20px);

	h1 {
		font-weight: bold;

		> span {
			font-weight: bold;
			font-size: 0.6em;
			margin-right: calcREM(4px);
			opacity: 0.5;

			> span {
				font-weight: bold;
				font-size: 0.75em;
				text-transform: uppercase;
				margin-right: calcREM(2px);
			}
		}
	}

	p {
		font-style: italic;
		margin-bottom: calcREM(8px);
	}
}

#PokemonStats {
	grid-template-columns: min-content auto min-content;
	gap: 8px;
	align-items: center;
	margin-bottom: 2rem;
	
	h3 {
		font-size: 0.75rem;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1em;
		justify-self: end;
	}

	p {
		font-size: 1rem;
		line-height: 1em;
	}

	.MuiLinearProgress-root {
		height: 0.6rem;
		border-radius: 500px;
		background-color: lightgray;
	}
	
	.MuiLinearProgress-bar {
		border-radius: 500px;
		background-color: var(--type-one-color);
	}
}

#PokemonEvolution {
	margin-bottom: 2rem;
}

#PokemonDefense {
	grid-template-columns: repeat(9, min-content);
	justify-content: space-between;
	row-gap: 0.5rem;
	margin-bottom: 2rem;
}

#PokemonAbilities {
	margin-bottom: 2rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 1rem;

	h2 { grid-column: 1 / 3; }
	span.MuiTypography-caption {
		line-height: 1;
		opacity: 0.7;
		font-style: italic;
	}

	.col { row-gap: 0.5rem; }

	.MuiCard-root { height: fit-content; }
}

#PokemonBreeding {
	margin-bottom: 2rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 1rem;

	h2 { grid-column: 1 / 3; }

	.col { row-gap: 0.5rem; }

	.MuiCard-root { height: fit-content; }
}